* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 120px;
}

header {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    height: 80px;    
}

header > button {
    height: 50px;
    background-color: black;
    color: white;
    padding: 2px 10px;
    border-radius: 6px;
}

main {
    display: flex;
    width: 1000px;
    gap: 20px;
}

.meio-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.meio-1 img {
    width: 100%;
}

.meio-2 {
    flex-direction: column;
    gap: 20px;
}

.meio-2 img {
    width: 100%;
}
